{% load i18n %}
<div class="dropdown d-inline-block">
    <button
        class="btn btn-sm btn-outline-light dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
    >
        <i class="bi bi-globe me-1"></i>
        {{ current_language_name }}
    </button>
    <ul class="dropdown-menu">
        {% for language in available_languages %}
        <li>
            <form action="/i18n/setlang/" method="post" class="d-inline w-100">
                {% csrf_token %}
                <input
                    name="next"
                    type="hidden"
                    value="{% if language.code == 'en' %}/{% else %}/{{ language.code }}/{% endif %}"
                />
                <input
                    name="language"
                    type="hidden"
                    value="{{ language.code }}"
                />
                <button
                    type="submit"
                    class="dropdown-item border-0 bg-transparent text-start w-100 {% if language.code == current_language %}active{% endif %}"
                    {% if language.code == current_language %}disabled{% endif %}
                >
                    {{ language.name }}
                    {% if language.code == current_language %}
                        <i class="bi bi-check ms-1"></i>
                    {% endif %}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
